{% extends "base.html" %}
{% block title %}Технологии{% endblock title %}
{% block content %}
  <div class="container pt-3">
    <h1>Вот что я умею</h1>
    <div class="row">
      <aside class="col-lg-3 col-xs-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Python</li>
          <li class="list-group-item">Django</li>
        </ul>
      </aside>
      <article class="col-lg-8 col-xs-12">
        <p>Я трачу около 4 часов в день на обучение.</p>
        <p>Планирую к концу мая 2023 года найти работу Python разработчиком</p>
      </article>
    </div>
  </div>
{% endblock content %}
