{% extends "base.html" %}
{% block title %}{{ author.get_full_name }} профайл пользователя{% endblock title %}
{% block content %}
  <div class="container py-5">
    <div class="mb-5">
      <h1>Все посты пользователя {{ author.get_full_name }}</h1>
      <h3>Всего постов: {{ author.posts.count }}</h3>
      {% if author_is_not_user and user.is_authenticated %}
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
          >
            Подписаться
          </a>
        {% endif %}
      {% endif %}
      {% for post in page_obj %}
        {% if post.group %}
          {% include "includes/post.html" with link_to_group=post.group.slug %}
        {% else %}
          {% include "includes/post.html" %}
        {% endif %}
      {% endfor %}
      {% include "posts/includes/paginator.html" %}
    </div>
  </div>
{% endblock content %}